{% extends 'layout.html' %}
{% block header_links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reviews.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://kit.fontawesome.com/ab2155e76b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product-list.css') }}"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_profile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/product-list.css') }}">

{% endblock %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block navigation %}
<!-- start navigations  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for( 'Main.home' ) }}">NextFarm</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if current_user.user_type==0 %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('Farmer.farmer_profile', username=current_user.username) }}">Profile</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('Restuarant.restuarant_profile', username=current_user.username) }}">Profile</a>
                </li>
            {% endif %}
            {% if current_user == user and current_user.offer_services %}
                <li class="nav-item">
                <a class="nav-link" href=" {{ url_for('Farmer.farmer_dashboard', username=user.username) }} ">DashBoard</a>
                </li>
            {% endif %}
            {% if current_user == user %}
                <li class="nav-item">
                    <a class="nav-link" href=" {{ url_for('Product.add_product') }} ">Add Product</a>
                </li>
            {% endif %}   
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Chat.chats_history', username=current_user.username) }}">Chats</a>
            </li> 
            <li class="nav-item">
            <a class="nav-link" href=" {{ url_for('Auth.logout') }} ">Logout</a>
            </li>
        </ul>
        <form class="d-flex"  action ="/home" method = 'POST'>
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        </div>
    </div>
</nav>
    <!-- --------------------------------- end  navigations  -->

{% endblock navigation %}

{% block body %}

<!-- user profile top section  -->
<div class="row py-3 px-2">
    <div class="col-md-12 mx-auto">
        <div class="bg-white shadow rounded overflow-hidden">
            <div class="px-4 pt-0 pb-4 cover">
                <div class="media align-items-end profile-head">
                    <div class="profile mr-2"><img src="{{ url_for('static', filename='profile_pictures/' + user.profile_picture) }}" alt="..." width="130" class="rounded mb-2 img-thumbnail"></div>
                    <div class="media-body mb-5 text-white">
                        <h4 class="mt-0 mb-0">{{ user.first_name }} {{ user.last_name }} </h4> 
                        <p class="small mb-4"> <i class="fas fa-map-marker-alt mr-2"></i> {{ user.gender }} </p>
                        <br>
                    </div>
                </div>
            </div>
            
            <div class="bg-light p-4 d-flex justify-content-end text-center">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">
                            {% if current_user != user %}
                                {% if current_user.user_type == 1 %}
                                <a href="{{ url_for('Chat.send_message', recipient_id=user.id) }}">
                                    <button class="btn btn-outline-success">
                                        Message
                                    </button>
                                </a>
                                {% endif %}
                            {% else %}
                                <a href="{{ url_for('Payment.banking_details') }}">
                                    <button class="btn btn-outline-success">
                                        Update Banking Details
                                    </button>
                                </a>     
                                {% if current_user.user_type == 1 %}
                                    <a href="{{ url_for('Chat.send_message') }}">
                                        <button class="btn btn-outline-success">
                                            Chats
                                        </button>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </h5>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">
                            <a href="#product-lst">
                                <button class="btn btn-outline-success"> 
                                    Products
                                </button>
                                </a>
                        </h5>
                    </li>
                    {% if current_user != user %}
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">
                            <a href="#reviews-lst">
                                <button class="btn btn-outline-success"> Reviews
                                </button>
                            </a>
                        </h5>
                    </li> 
                    {% endif %}
                    {% if current_user == user %}
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">
                            <a class="nav-link" href=" {{ url_for('Farmer.confirm_delete_profile') }} ">
                                <button class="btn btn-outline-danger">Delete Profile </button>
                            </a>   
                        </h5>
                    </li>
                    <li class="list-inline-item">
                        <h5 class="font-weight-bold mb-0 d-block">
                            <a class="nav-link" href=" {{ url_for('Address.address_registration') }} ">
                                <button class="btn btn-outline-primary">Update Address</button>
                            </a>   
                        </h5>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div> 
<!-- end of user profile top-section -->
<!--   Farmer Address Section -->
<div class="product-info">
    <div class="row">
        <div class="col-md-6">
            <h3> Address information </h3>
            {% if user.address %}
            <ul>

                <pre>Province:                         {{ user.address[0].province }} </pre>
                <pre>Town:                             {{ user.address[0].town }} </pre>
                <pre>Suburbs:                          {{ user.address[0].suburb }} </pre>
    
                {% if user.address[0].building_name %} 
                <pre>Building Name:                    {{ user.address[0].building_name }} </pre>  
                {% endif %}
                {% if user.address[0].streat_address %} 
                <pre>Streat Name:                      {{ user.address[0].streat_address }} </pre> 
                {% endif %}
    
            </ul>
            {% else %}
                {% if user == current_user %}
                    <a href="{{ url_for('Address.address_registration') }}">
                        <button class="btn btn-outline-success" >
                            Add Address
                        </button> 
                    </a>
                {% endif %}
            {% endif %}
    
        </div>
        <div class="col-md-6">
            <h3> Bio </h3>
            {% if user.about_me %}
                <p>{{ user.about_me }}</p>
            {% else %}
                <h5>Sorry the farmer did not provide that information</h5>
            {% endif %}
        </div>
    </div>
</div>


<!--   End of User Address Section -->


<!-- Map goes Here -->
<div id="map">
</div>
<div id="dist_apart">
</div>

<div>
    <br>
    <hr>
    <br>
</div>

<!-- update user profile information forms Section-->
{% if current_user == user %}

    <div class="bg-light">
        <h3> Update Profile information </h3>
        <fieldset  class="border p-2 form-group">
        <form action="" method="POST" enctype="multipart/form-data" class="row g-1">
            {{ form.hidden_tag() }}

            <div class="col-12">
                {{ form.profile_picture.label(class="form-label") }}
                {{ form.profile_picture(class="form-control") }}

                {% if form.profile_picture.errors %}
                    {% for error in form.profile_picture.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}
                
            </div>

            <div class="col-md-6">
                {{ form.first_name.label(class="form-label") }}
                {{ form.first_name(class="form-control") }}
            
                {% if form.first_name.errors %}
                    {% for error in form.first_name.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-6">
                {{ form.last_name.label(class="form-label") }}
                {{ form.last_name(class="form-control") }}
            
                {% if form.last_name.errors %}
                    {% for error in form.last_name.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}

                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-6">
                {{ form.telephone.label(class="form-label") }}
                {{ form.telephone(class="form-control") }}

                {% if form.telephone.errors %}
                    {% for error in form.telephone.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-6">
                {{ form.id_number.label(class="form-label") }}
                {{ form.id_number(class="form-control") }}

                {% if form.id_number.errors %}
                    {% for error in form.id_number.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-6">
                {{ form.gender.label(class="form-label") }}
                {{ form.gender(class="form-control") }}

                {% if form.gender.errors %}
                    {% for error in form.gender.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="col-12">
                {{ form.about_me.label(class="form-label") }}
                {{ form.about_me(class="form-control") }} 

                {% if form.about_me.errors %}
                    {% for error in form.about_me.errors %}
                        <span> {{ error }} </span> <br>
                    {% endfor %}
                {% endif %}
            </div>           

            <div class="col-md-12">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>
        </form>
            
        </fieldset>
    </div>

    <div>
        <br>
    </div>
{% endif %}


<!-- Product Offered By Farmer Section-->

<div id="product-lst">
<h3> Products Offered </h3>
{% if user.offer_services == 1 %}

        {% for col in products|batch(4) %}
        <div class="row">
            {% for product in col %}
            <div class="card border-success bg-transparent mb-3" style="max-width: 18rem;">
                <div class="card-body text-success">
                <h3 class="card-title"><a href="{{ url_for('Product.product_info', product_id=product.id ) }}">{{ product.product_name|upper }}</a></h3>
                <h5>Price R{{ product.price }}</h5>
                <h5>Category {{ product.category }}</h5>
                <h5>Quantity {{ product.stock_count }}</h5>
                </div>
            </div>
            {% endfor %}
        {% endfor %}

    {% else %}
        {% if user == current_user %}
            <a href="{{ url_for('Product.add_product') }}">
                <button class="btn btn-outline-success"> Register Services </button>
            </a>
        {% endif %}
    {% endif %}
</div>
</div>
<!-- End of offerded product section -->
<!-- Farmer Review section -->
<br>
<br>
<h3>Reviews </h3>
<hr/>
<div class="row" id="reviews-lst">
    <div class="col-md-12">
        <div class="blog-comment">
            <ul class="comments">

            {% if reviews %}
        
                {% macro display_comments(user_reviews, review_id, level=0) %}

                    {% if level==0 %}
                        {% if user_reviews.reviewer_ %}
                            <!--Showing reviews written by other farmers -->
                            <li class="clearfix">
                                <img src="{{ url_for('static', filename='profile_pictures/' + user_reviews.reviewer_.profile_picture) }}" class="avatar" alt="">
                                <div class="post-comments">
                                    <p class="meta"> {{ user_reviews.timestamp.strftime("%b-%d-%Y") }} <a href="#"> {{ user_reviews.reviewer_.first_name }} </a> says : <i class="pull-right"><a href="{{ url_for('Review.add_review', username=user.username, user_type=user.user_type, parent_id=review_id )  }}"><small>Reply</small></a></i></p>
                                    <p>
                                        {{  user_reviews.body }}
                                    </p>
                                </div>
                            </li>
                        {% else %}
                            <!-- Showing Reviews written by restuarants -->
                            <li class="clearfix">
                                <img src="{{ url_for('static', filename='profile_pictures/' + user_reviews.reviewer_comp.profile_picture) }}" class="avatar" alt="">
                                <div class="post-comments">
                                    <p class="meta"> {{ user_reviews.timestamp.strftime("%b-%d-%Y") }} <a href=" {{ url_for('Restuarant.restuarant_profile', username = current_user.username) }}"> {{ user_reviews.reviewer_comp.name }} </a> says : <i class="pull-right"><a href="{{ url_for('Review.add_review', username=user.username, user_type=user.user_type, parent_id=review_id )  }}"><small>Reply</small></a></i></p>
                                    <p>
                                        {{  user_reviews.body }}
                                    </p>
                                </div>
                            </li>
                        {% endif %}

                    {% else %}
                        
                        {% if user_reviews.reviewer_ %}
                            <!-- Response written by farmers -->
                            <ul class="comments">
                                <li class="clearfix">
                                    <img src="{{ url_for('static', filename='profile_pictures/' + user_reviews.reviewer_.profile_picture) }}" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p class="meta"> {{ user_reviews.timestamp.strftime("%b-%d-%Y") }} <a href=" {{ url_for('Farmer.farmer_profile', username = current_user.username) }} ">{{ user_reviews.reviewer_.first_name }}</a> says : <i class="pull-right"><a href="{{ url_for('Review.add_review', username=user.username, user_type=user.user_type, parent_id=review_id )  }}"><small>Reply</small></a></i></p>
                                        <p>
                                            {{  user_reviews.body }}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="comments">
                                <li class="clearfix">
                                    <img src="{{ url_for('static', filename='profile_pictures/' + user_reviews.reviewer_comp.profile_picture) }}" class="avatar" alt="">
                                    <div class="post-comments">
                                        <p class="meta"> {{ user_reviews.timestamp.strftime("%b-%d-%Y") }} <a href=" {{ url_for('Restuarant.restuarant_profile', username = current_user.username) }} ">{{ user_reviews.reviewer_comp.name }}</a> says : <i class="pull-right"><a href="{{ url_for('Review.add_review', username=user.username, user_type=user.user_type, parent_id=review_id )  }}"><small>Reply</small></a></i></p>
                                        <p>
                                            {{  user_reviews.body }}
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        {% endif %}


                    {% endif %}
            
                    {% for reply in user_reviews.replies %}
                        {{ display_comments( reply, review_id, level+1) }}
                        
                    {% endfor %}
        
                {% endmacro %}

                {% for review in reviews %}
                    {{ display_comments(review, review.id) }}
                {% endfor %}
    
            {% else %}
                <p> Oops This is empty </p>
            {% endif %}
            
            </ul>
            
        </div>
    </div>
    <a href="{{ url_for('Review.add_review', username=user.username, user_type=user.user_type, parent_id=0)  }}">
        <button class="btn btn-outline-success">
        Review
    </button>
</a>
</div>
<!-- End of Farmer review section -->
<br>
<br>


{% endblock body %}

{% block scripts %}

{% endblock %}


